@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@font-face {
  font-family: "Shandora";
  src: url(../../assets/fonts/Shandora.ttf);
}
@font-face {
  font-family: "Shandora-italic";
  src: url(../../assets/fonts/Shandora/Italic.ttf);
}
h1, h2, h3, h4, h5 {
  font-family: "Shandora";
  line-height: 120%;
  font-weight: 100;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

p, a {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 160%;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.purple {
  color: #6312CA;
}

.purple-bg {
  background: #6312CA;
}

.yellow {
  color: #E0AC24;
}

.red {
  color: #F93E3E;
}

.green {
  color: #49CB1C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040108;
  color: #EEEBF2;
  /* width */
  /* Track */
  /* Handle */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #242329;
}
body::-webkit-scrollbar-thumb {
  background: #45454A;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

.border {
  border: 1px solid red;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover2 {
  filter: brightness(0.9);
  transition: 0.4s;
}

.container {
  width: 100%;
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 16px 48px;
  color: #EEEBF2;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.primary {
  background: linear-gradient(to bottom, #6312CA 0%, #5007AD 100%);
  color: #CCCDCE;
  transition: 0.4s;
}
.primary:hover {
  filter: brightness(1.2);
  box-shadow: 0 10px 32px rgba(79, 7, 173, 0.3294117647);
}

.secondary {
  background: #242329;
  color: #AAACAD;
  transition: 0.4s;
}
.secondary:hover {
  filter: brightness(0.8);
}

.back {
  background-image: url(../assets/imgs/back1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
}

.Header {
  margin-bottom: 64px;
}
.Header .premium {
  background: #E0AC24;
  color: #242329;
  text-align: center;
  margin-bottom: 32px;
}
.Header .premium p {
  font-size: 14px;
  letter-spacing: 0.3rem;
  font-weight: 500;
  text-transform: uppercase;
}
.Header .container {
  justify-content: space-between;
}
.Header .container ul li {
  list-style: none;
  margin-right: 40px;
}
.Header .container ul li a {
  font-size: 14px;
  color: #88898C;
  text-transform: uppercase;
  transition: 0.4s;
}
.Header .container ul li a:hover {
  filter: brightness(1.3);
}
.Header .container .button {
  margin-left: 40px;
}

.text-content {
  max-width: 888px;
  margin: 0 auto;
}
.text-content p {
  max-width: 828px;
  margin: 48px auto 56px;
  color: #88898C;
}
.text-content .button {
  margin-right: 16px;
}
.text-content .button:last-child {
  margin-left: 16px;
}