@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
.purple {
  color: #6312CA;
}

.purple-bg {
  background: #6312CA;
}

.yellow {
  color: #E0AC24;
}

.red {
  color: #F93E3E;
}

.green {
  color: #49CB1C;
}

@font-face {
  font-family: "Shandora";
  src: url(../../assets/fonts/Shandora.ttf);
}
@font-face {
  font-family: "Shandora-italic";
  src: url(../../assets/fonts/Shandora/Italic.ttf);
}
h1, h2, h3, h4, h5 {
  font-family: "Shandora";
  line-height: 120%;
  font-weight: 100;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #45454A;
}

h4 {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
}

h5 {
  font-size: 16px;
}

p, a {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 160%;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.number {
  font-family: "Montserrat";
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  p, a {
    font-size: 16px;
  }
}
.purple {
  color: #6312CA;
}

.purple-bg {
  background: #6312CA;
}

.yellow {
  color: #E0AC24;
}

.red {
  color: #F93E3E;
}

.green {
  color: #49CB1C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040108;
  color: #EEEBF2;
  /* width */
  /* Track */
  /* Handle */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #242329;
}
body::-webkit-scrollbar-thumb {
  background: #45454A;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

.section {
  position: relative;
  margin-top: 200px;
}

.border {
  border: 1px solid red;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 16px 48px;
  color: #EEEBF2;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  max-width: 250px;
}

.primary {
  background: linear-gradient(to bottom, #6312CA 0%, #5007AD 100%);
  color: #CCCDCE;
  transition: 0.4s;
}
.primary .arrow {
  position: relative;
  transition: 0.4s;
  margin-left: 12px;
  margin-top: 2px;
}
.primary:hover {
  filter: brightness(1.2);
  box-shadow: 0 10px 32px rgba(79, 7, 173, 0.3294117647);
}
.primary:hover .arrow {
  opacity: 1;
  margin-left: 20px;
}

.secondary {
  background: #242329;
  color: #66676B;
  transition: 0.4s;
}
.secondary:hover {
  filter: brightness(0.8);
}

.back {
  background-image: url(../assets/imgs/back1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  position: relative;
}

.Header {
  margin-bottom: 64px;
}
.Header .premium {
  background: #E0AC24;
  color: #242329;
  text-align: center;
  margin-bottom: 32px;
}
.Header .premium p {
  font-size: 14px;
  letter-spacing: 0.3rem;
  font-weight: 500;
  text-transform: uppercase;
}
.Header .container {
  justify-content: space-between;
}
.Header .container ul li {
  list-style: none;
  margin-right: 24px;
}
.Header .container ul li a {
  font-size: 14px;
  color: #88898C;
  text-transform: uppercase;
  transition: 0.4s;
  padding: 16px;
}
.Header .container ul li a:hover {
  filter: brightness(1.3);
}
.Header .container ul li a .arrow-bottom {
  margin-left: 16px;
  transform: rotateZ(90deg);
}
.Header .container ul li a .arrow-bottom path {
  stroke: #88898C;
}
.Header .container .button {
  margin-left: 40px;
}
.Header .container .logomark {
  transition: 0.4s;
}
.Header .container .logomark:hover {
  filter: brightness(1.2);
}

.text-content {
  max-width: 888px;
  margin: 0 auto;
}
.text-content p {
  max-width: 828px;
  margin: 48px auto 56px;
  color: #88898C;
}
.text-content .button {
  margin-right: 16px;
}
.text-content .button:last-child {
  margin-left: 16px;
}

.mockup-video {
  position: relative;
  margin-top: 64px;
  width: 100%;
  height: 500px;
  background: #242329;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.mockup-video .actions {
  border-bottom: 2px solid #45454A;
  height: 72px;
  padding: 0 30px;
  justify-content: flex-start;
}
.mockup-video .actions .circle {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 30px;
  background: #E0AC24;
}
.mockup-video .actions .circle:first-child {
  background: #F93E3E;
}
.mockup-video .actions .circle:last-child {
  background: #49CB1C;
}
.mockup-video .video-action {
  width: calc(100% - 60px);
  height: calc(100% - 110px);
  background: #88898C;
  margin: 38px auto;
}
.mockup-video:hover {
  cursor: pointer;
}

.modal-video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 16px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.767);
  left: 0;
  top: 0;
  transition: 0.4s;
}
.modal-video p {
  margin: 8px 0 24px;
}
.modal-video .video {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 600px;
  background: #242329;
  border-radius: 6px;
}
.modal-video .video header {
  padding: 16px;
  border-bottom: 2px solid #45454A;
  justify-content: flex-start;
}
.modal-video .video header .circle {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 30px;
  background: #E0AC24;
}
.modal-video .video header .circle:first-child {
  background: #F93E3E;
  position: relative;
  cursor: pointer;
}
.modal-video .video header .circle:first-child .close {
  position: relative;
  font-size: 24px;
  font-weight: 800;
  width: 100%;
  height: 100%;
  top: -0.016px;
  left: -0.598px;
  text-align: center;
}
.modal-video .video header .circle:last-child {
  background: #49CB1C;
}
.modal-video .video .video-gif {
  width: 100%;
  height: calc(100% - 72px);
}

.modal-video-active {
  pointer-events: all;
  opacity: 1;
  z-index: 10;
}

.modal-video-disable {
  opacity: 0;
  pointer-events: none;
}

.main {
  position: relative;
  padding: 200px 0;
  background-color: #E3E2E6;
  color: #242329;
}
.main p {
  color: #66676B;
}

.points h2 {
  margin: 0 auto 40px;
  max-width: 888px;
}
.points p {
  margin: 0 auto 112px;
  max-width: 888px;
}
.points .cards-points-container {
  flex-wrap: wrap;
}
.points .cards-points-container .cards-points {
  width: 100%;
  max-width: 400px;
  height: 320px;
  padding: 32px;
  border: 3px solid #CCCDCE;
  background: #EEEBF2;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
  border-radius: 6px;
}
.points .cards-points-container .cards-points p {
  font-size: 16px;
}
.points .cards-points-container .cards-points:first-child {
  margin-right: 14px;
}
.points .cards-points-container .cards-points:last-child {
  margin-left: 14px;
}
.points .cards-points-container .cards-points h1 {
  margin-bottom: 16px;
}
.points .cards-points-container .cards-points h3 {
  margin-bottom: 16px;
}
.points .button {
  margin-top: 24px;
}

#About {
  margin: 200px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
#About .about-img-company {
  width: 500px;
  margin: 40px auto;
}
#About .about-img-company img {
  width: 100%;
  max-width: 460px;
  box-shadow: -40px -40px 0 #45454A;
  border-radius: 6px;
}
#About .about-text-content {
  width: 650px;
  text-align: left;
}
#About .about-text-content h2 {
  margin-bottom: 24px;
}
#About .about-text-content p {
  margin-top: 24px;
}
#About .about-text-content .about-social-icons {
  justify-content: space-between;
  max-width: 184px;
}
#About .about-text-content .about-social-icons .social {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 48px;
  background: linear-gradient(to bottom, #6312CA 0%, #5007AD 100%);
}

.Footer {
  background: #040108;
  min-height: 200px;
}
.Footer p {
  font-size: 18px;
  color: #66676B;
}
.Footer h4 {
  font-size: 28px;
}
.Footer .container {
  padding: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Footer .container div, .Footer .container a {
  max-width: 430px;
  text-align: right;
}
.Footer .container div h4, .Footer .container a h4 {
  margin-bottom: 8px;
}
.Footer .container div:first-child, .Footer .container a:first-child {
  display: flex;
}
.Footer .container div:first-child h4, .Footer .container a:first-child h4 {
  margin-bottom: 0;
}
.Footer .container div:first-child .logo-content, .Footer .container a:first-child .logo-content {
  margin-left: 28px;
  text-align: left;
}
.Footer .container div:first-child .logo, .Footer .container a:first-child .logo {
  background: #0D0C0F;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  transition: 0.4s;
}
.Footer .container div:first-child .logo:hover, .Footer .container a:first-child .logo:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 732px) {
  .no-mobile {
    display: none;
  }
  .text-content .button {
    margin: 0 auto;
    display: block;
  }
  .text-content .button:last-child {
    margin: 16px auto;
  }
  .points .cards-points-container .cards-points:first-child {
    margin-right: 0;
  }
  .points .cards-points-container .cards-points:last-child {
    margin-left: 0;
  }
  .Footer .container {
    justify-content: center;
  }
  .Footer .container .logo-part {
    margin-bottom: 32px;
  }
  .Footer .container .obs-part {
    text-align: center;
  }
  #About .about-img-company {
    order: 2;
    margin-top: 40px;
  }
  #About .about-img-company img {
    box-shadow: none;
  }
}
@media screen and (min-width: 732px) {
  .no-mobile {
    display: flex;
  }
}