@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@font-face {
  font-family: "Shandora";
  src: url(../../assets/fonts/Shandora.ttf);
}
@font-face {
  font-family: "Shandora-italic";
  src: url(../../assets/fonts/Shandora/Italic.ttf);
}
h1, h2, h3, h4, h5 {
  font-family: "Shandora";
  line-height: 120%;
  font-weight: 100;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

p, a {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 160%;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.purple {
  color: #6312CA;
}

.purple-bg {
  background: #6312CA;
}

.yellow {
  color: #E0AC24;
}

.red {
  color: #F93E3E;
}

.green {
  color: #49CB1C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040108;
  color: #EEEBF2;
  padding: 0 20px;
}

.border {
  border: 1px solid red;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  border: 1px solid red;
}

.button {
  display: inline-block;
  padding: 22px 48px;
  color: #EEEBF2;
  border-radius: 6px;
}

.primary {
  background: linear-gradient(to bottom, #6312CA 0%, #5007AD 100%);
  color: #CCCDCE;
}

.secondary {
  background: #242329;
  color: #AAACAD;
}